<section >
  <form #myForm="ngForm">
    <p>Les champs suivis de la mention "*" sont obligatoires</p>
    <label for="name">Mail * : </label>
    <input type="text" required aria-required="true" name="name" id="name" [(ngModel)]="myModel" (ngModelChange)="toggleCtrlInput($event)" (blur)="toggleCtrlInput($event)" [attr.aria-describedby]="myCtrlInput" />
    <p *ngIf="ctrlInput" style="color:red;" id="ctrlInput">Ce champ doit être impérativement renseigné.</p>
    <p *ngIf="ctrlMail" style="color:red;" id="ctrlMail">Le format de l'adresse électronique saisie est incorrect (ex : jean.dupont@fai.fr).</p>
  </form>
  <!-- Form Value: {{formValue}} -->
</section>
