<section >
  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
    <label for="name">Mail</label>
    <input type="text" name="name" id="name" [(ngModel)]="myModel" (ngModelChange)="toggleCtrlInput($event)" (blur)="toggleCtrlInput($event)" [attr.aria-describedby]="ctrlInput" />
    <p *ngIf="ctrlInput" style="color:red;" id="ctrlInput">Ce champ doit être impérativement renseigné.</p>
    <p *ngIf="ctrlMail" style="color:red;" id="ctrlMail">Le format de l'adresse électronique saisie est incorrect (ex : jean.dupont@fai.fr).</p>
  </form>
  <!-- Form Value: {{formValue}} -->
</section>